<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://r.rdc.sae.sina.com.cn:3307/app_zybookshelf" />
		<property name="username" value="zymkn14oyn" />
		<property name="password" value="h1wy2llix0zxw2yl3m12xk1zwi5yy4lm5yj0imki" />
		<property name="initialSize" value="5"></property>
		<property name="maxActive" value="30"></property>
		<property name="maxIdle" value="10"></property>
		<property name="minIdle" value="2"></property>
		<property name="testOnBorrow" value="true"></property>
		<property name="validationQuery" value="select 1"></property>
	</bean>
	
	<!-- <bean id="dataSource"
		class="org.sqlite.SQLiteDataSource">
		<property name="url" value="jdbc:sqlite:#{systemProperties['webapp.root']}/WEB-INF/db/bookshelf.db" />
	</bean> -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop -->
				<prop key="hibernate.dialect">
					net.yangziwen.bookshelf.util.SQLiteDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
				<prop key="hibernate.cache.provider_class">
					org.hibernate.cache.OSCacheProvider
				</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
				<prop key="hibernate.jdbc.batch_size">30</prop>
				<prop key="hibernate.cache.use_second_level_cache">
					false
				</prop>
				<prop key="hibernate.order_inserts">true</prop>
				<prop key="hibernate.order_updates">true</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>net.yangziwen.bookshelf.pojo</value>
			</list>
		</property>
	</bean>

</beans>